/***********************
GENERAL
***********************/
a {
    text-decoration:none;
}

img {

    max-width: 100%;
}

body {
    font-family: Calibri, Sans-serif;
    background-color:#e6e9ed;
    color: #434a54;
}

#wrapper{
    max-width:960px;
    margin: 0 auto;
    background-color:#f5f7fa;
    overflow: auto; /*This fixed the wrapper background color problem that happened bc floating content*/
}

#banner {
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    display:block;
    clear:both;
}
 
/***********************
HEADER
***********************/
#header {
margin-left: auto;
margin-right: auto;
padding: 0;
display: block;
clear: both;
}

/***********************
NAVIGATION
***********************/
nav{
    background:#4a89dc;
    text-align:center;
    color:blue;
    max-width:960px;
    margin: 0 auto;
    padding: 10px 0;
    text-align:center;
    font-size:1.2em;
}
nav ul{
    list-style:none;
    margin:0 10px; /*Can be change later on in the design if it doesn't work*/
}
nav li{
    /*Inline, mostly text. Appears in the same line, inline as the rest of the text. Block 
      pushes other items out of the page. Inline block maintains width and 
      height but is in line with other images*/
    display:inline-block;
    list-style:none;
}
nav a{
    font-weight: 800;
    padding: 15px 10px;
}

nav a:visited, a:link {
    color:#f5f7fa;
}

nav a:link {
    color:#f5f7fa;
}

nav a:hover {
    color:#0B108C;
}
/**********************
FOOTER
**********************/
footer {
    max-width:950px;
    background-color:#434a54;
    font-size:0.75em;
    text-align:center;
    clear:both; /* The clear property allows the footer to be clear of any floated elements */
    color:#e6e9ed;
    margin: 0 auto;
    padding: 4px;
}
footer h3{
    padding-left: .9em;
}
footer ul {
    display:inline-block;
    list-style-type: none;
    text-align:left;
}
footer ul li{
    list-style:none;
    text-decoration:none;
    padding-left: 1em;
}
footer ul li a{
    color:#e6e9ed;
}

footer a:hover {
    color:#FFFFFF; /*Change hover color to make it more prominent*/
}

#footerslogan{
    font-family: ;
    padding-top: .6em;
    float:left;     
    padding-left: 2em;
    font-size: 1.35em;
}
#copyright{
    font-size: 1.05em;
    text-align:left;
    margin-top: 5px; 
    float:left;
    clear:both;
    display:inline-block;
}   
.social-icon {
/*Everything here is a placeholder for the images*/
    display:inline-block;
    width:30px;
    height:30px;
}
img.social-icon {
    border-square: 85%;
    margin-bottom: .8em;
    margin-right: .9em;
}