/***********************
GENERAL
***********************/
a:hover {
    text-decoration: underline;
}

img {

    max-width: 100%;
}

body {
    /*font-family: 'Fabrica', 'Courier New';*/
    font-family: 'Open Sans', sans-serif;
    background-color:#e6e9ed;
    color: #434a54;
}

#wrapper{
    max-width:960px;
    margin: 0 auto;
    background-color: #f5f7fa;
    overflow: auto; /*This fixed the wrapper background color problem that happened bc floating content*/
    line-height: 1.8em;
}

#content a {
    text-decoration: underline;
}

#content img {
    border-radius:5px 20px 5px;
    padding:10px;
}

#content {
    padding:0 10px 30px 10px;
}

#wrapper p {
    text-indent: 2.5em;
}

#banner {
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    display:block;
    clear:both;
}


h1, h2, h3 {
    font-family: 'Droid Serif', serif;
}

.selected {
     color:#0B108C;
    text-decoration: none;
}


/***********************
HEADER - Top image strip above banner
***********************/
/*#logo { Commented out for bootstrap testing
    text-align:right;
    max-height:100%;
    max-width:100%;
    padding: 10px 0px 10px 30px;
}*/

.navbar-brand {
    margin-top:-5px;
}

#header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    max-width:960px;
}

/*Commented out for testing new header technique
#header {
margin-left: auto;
margin-right: auto;
padding: 0;
display: block;
clear: both;
font-family: 'Fabrica', Arial;
}  

*******/

/***********************
NAVIGATION - Main site navigation
***********************/
#navlogo {
    margin-top:-5px;
}

.container
{
    margin:0 auto;
    max-width:990px;
}

.row {
    margin-left, margin-right: 0px;
}

.navbar {
    margin-bottom:0px;
    min-height:50px;
    border-radius:0px;
}

.btn-lg { /*Styles the donate button*/
    font-size: 15px;
    font-weight: bold;
    padding: 8px 16px;
    margin:6px 5px;
}  
/**********************
FOOTER
**********************/
footer {
    font-family: 'Open Sans', sans-serif;
    max-width:960px;
    background-color:#434a54;
    font-size:0.75em;
    clear:both;
    color:#e6e9ed; overflow:auto;
    margin: 0 auto;
    padding:5px;
}
footer h3{
    padding-left: .9em;
    font-family: 'Open Sans', sans-serif;
}
footer ul {
    display:inline-block;
    list-style-type: none;
    }
footer ul li{
    list-style:none;
    text-decoration:none;
    margin-left: 1em;
}
footer ul li a{
    color:#e6e9ed;
    text-decoration:none;
}

footer a:hover {
    color:#FFFFFF; /*Change hover color to make it more prominent*/
}


/**********************
RIGHT SIDE OF FOOTER - Contains links and social media icons
**********************/
#footer-right {
    float:right;
    margin-right:15px;
}

#footer-right li:nth-child(1) { /*Styles footer headers*/
    font-weight:bold;
    font-size:1.2em;
    padding-bottom:4px;
}

.social-icon {
    display:inline-block;
    width:24px;
    height:24px;
    margin-bottom:22.7px; /*controls height of "follow us" in footer*/
    padding:1px;
    border-radius: 20%;
}

/**********************
LEFT SIDE OF FOOTER - Contains copyright and slogan
**********************/
#footer-left {  
    float:left;
    padding-left: 2em;
    text-align:left;
    font-size: 1.35em;
    display:inline-block;
    line-height: 1.5em;
}

/*To fix the footer issue. It happens (I think) when it is around 888 px*/

@media screen and (max-width: 800px){
  #footer-right{
    float:left;
    margin-left: 15px;
  }
  /*align footer-right to footer-left*/
  #footer-right ul{
    padding-left: 20px;
    padding-right: 20px;  
  }
}

#footer-slogan {
    font-family: 'Georgia', 'Droid Serif', sans-serif;
}

#copyright{
    font-size: .75em;
    text-align:left;
    margin-top: 5px; 
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
} 

/***********************
CONTENT TEMPLATE - Content template for all other pages
***********************/
