/*Mobile Phones*/
@media only screen and(max-device-width: 480px){
  
  div#wrapper{
    width: 400px;
  }
  div#header {
      background-image: ;
      height: 93px;/*Testing Purposes*/
      position: relative;
    }

  div#header h1 {
      font-size: 140%;  
  }

  #content {
      float: none;
      width: 100%;
  }

  #navigation {
      float:none;
      width: auto;
  }
  @font-face {
      font-family: 'Fabrica';
      font-style: normal;
      font-weight: 100;
      src: local('Fabrica'), local('Fabrica'), url(path/Fabrica.otf) format('otf');
      }
  }
}
/*Tablets or Small Monitors*/
@media only screen and(max-device-width: 780px){
   
}