/*This is the placeholder for responsive CSS that we will implement for mobile design*/

@media screen and (min-width: 480px) {
 @font-face {
    font-family: 'Fabrica';
    font-style: normal;
    font-weight: 100;
    src: local('Fabrica'), local('Fabrica'), url(path/Fabrica.otf) format('otf');
  }
}
@media only screen{

}
  
/*************************************
  TWO COLUMN LAYOUT

 Will target anything larger than average smartphone.
This is helpful for normal sized tablets, very large smartphones, and very small desktop windows.
***************************************/
  
  #primary {
    width: 50%;
    float: left;
    padding:10px;
  
  #secondary {
    width: 40%;
    float: right;
    padding:10px;
  }